@media (max-width: 769px) {
    nav{
        padding: 15px 20px;
    }
    nav img {
        width: 130px;
    }
    #menu-btn {
        display: initial;
    }

    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: #fff;
        padding: 30px 0 20px 20px;
    }
    nav .navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: rgba(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }
    nav .navigation ul.active{
        right: 0;
    }

    nav .navigation ul li {
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }

    nav .navigation ul li a {
        color: #fff;
    }

    #home {
        padding-top: 0px;
    }
    #home p {
        width: 90%;
    }

    #features {
        padding: 8vw 4vw 0 4vw;
    }

    #course {
        padding: 8vw 4vw 0 4vw;
    }
    #registration {
        padding: 6vw 4vw 6vw 4vw;
        margin-top: 8vw;
    }
    #registration .reminder .time {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    #experts {
        padding: 8vw 8vw 4vw 8vw;
    }

    footer .copyright .pro-links {
        margin-top: 20px;
    }

    /* about */

    #about-container {
        padding: 8vw 4vw 2vw 4vw;
    }

    #about-container .about-img {
        padding-right: 30px;
    }

    #trust .trust-img img {
        width: 50px;
        height: auto;
    }

    /* blog post */

    #blog-container .blogpost {
        width: 100%;
        margin-top: 30px;
    }

    #blog-container .blogpost img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
}

@media (max-width:412px) {
    #registration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #registration .reminder .time{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* about */

    #about-container {
        flex-direction: column-reverse;
    }

    #about-container .about-img {
        width: 30%;
        padding-right: 0px;
    }
    #about-container .about-text {
        width: 100%;
        padding-bottom: 20px;
    }

    #trust .trust-img {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #trust .trust-img img{
        width: 60px;
        margin: 10px 15px;
        height: auto;
    }

    #blog-container .blogpost{
        width: 100%;
        margin-top: 20px;
    }

    #blog-container .blogpost p {
        margin: 0 auto;
    }
}


@media (max-width: 376px) {
    footer input {
        width: 100%;
        margin-bottom: 20px;
    }
}